:root{
    /*Header*/
    --header-background-color:#FFFFFF;
    --header-text-color: #464646;
    --header-text-after-color: #0282f9;

    /*Main*/
    --main-background-color: #1c1c1c;
    --main-textcontent-color: #ffffff;

    /*Footer*/
    --footer-first-background-color: #0282f9;
    --footer-second-background-color: #303030;
    --footer-primary-text-color: #ffffff;
    --footer-second-text-color: #959595;
    --footer-logo-color: #797979;
    --footer-buttons-color: #0282f9;

    /*---CONTAINERS---*/

    /*-Container-md-*/
    --container-md: 1280px;
    /*-F.Container-md-*/

    /*---F.CONTAINERS---*/

}